*.class
*.log
.bloop
.bsp
.devcontainer
.metals
.vscode
target
project/*
!project/build.properties
.scalafmt.conf
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
