version: "3"
services:
  postgres:
    image: postgres:14.2-bullseye
    networks:
      - grace
    tty: true
    stdin_open: true
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_DB: testdb      
  mysql:
    image: mysql:8.0
    networks:
      - grace
    tty: true
    stdin_open: true
    environment:
      MYSql_ROOT_PASSWORD: root
      MYSql_DATABASE: testdb        
  development:
    build:
      context: .
    depends_on:
      - postgres
      - mysql
    networks:
      - grace
    # ulimits:
    #   nofile:
    #     soft: "99999"
    #     hard: "99999"      
    tty: true
    stdin_open: true      
      

networks:
  grace:
    driver: bridge